@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;

*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    text-decoration: none;
}

body{
    background-color: aliceblue;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 32px;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.jp{
    color: #DA2535;
    display: inline;
}
nav{
    display: none;
    font-family: 'Montserrat', sans-serif
}
.principal-conteudo-escrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
    gap: 16px;

    margin-bottom: 24px;
}
.principal-titulo{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
p{
    font-family: 'Inter', sans-serif;
    padding: 16px;
    text-indent: 10px;
}
.botao-cardapio{
    background-color: #DA2535;
    color: white;
    border: none;
    margin: auto;
    width: 312px;
    height: 40px;
    border-radius: 4px;
}
.principal-imagem{
    display: none;
}
.modo-preparo-imagem{
    text-align: center;
    height: 350px;
}
.modo-preparo-conteudo-escrito{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 64px;
}
.modo-preparo-link{
    color: #DA2535;
}
.modo-preparo-link:hover{
    text-decoration: underline;
}
.mais-populares{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

    margin-bottom: 64px;
}
.mais-populares-refeicao{
    background-color: #eeededc4;
    width: 312px;
    border-radius: 8px;
}
.mais-populares-titulo-secundario{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}
.mais-populares-primeiro-paragrafo{
    font-family:'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
}
.mais-populares-segundo-paragrafo{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
.comentarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 24px;
    margin-bottom: 64px;
}
.comentarios-titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.comentario-bloco{
    background-color: #eeededc4;
    width: 312px;
    border-radius: 8px;
    padding: 8px;
    
}
.comentarios-nome{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    
}
.localizacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 32px;
    margin-bottom: 64px;

}
.localizacao-titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.imagem-localizacao{
    width: 312px;
}
.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: 16px;
    margin-bottom: 24px;

}
.rodape-titulo{
    font-family: 'Montserrat' sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
}
.rodape-titulo-secundario{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.rodape-paragrafo{
    font-family: 'Inter' sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}

